<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schuldenregister</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <span>Schuldenregister</span>
            <div>
                <a href="/index"><button>Zurück</button></a>
                <a href="/logout"><button>Logout</button></a>
            </div>
        </nav>
        <div class="container">
            <h1>Rangliste</h1>
            <div class="tabelle-container">
                <table>
                    <thead>
                        <th>Platz</th>
                        <th>{{ grouped_by }}</th>
                        <th>Gesamtbetrag</th>
                    </thead>
                    <tbody>
                        {% for eintrag in eintraege %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                {% if current_lb == "schuldner" %}
                                    <td>{{ eintrag["schuldner"] }}</td>
                                {% else %}
                                    <td>{{ eintrag["glaeubiger"] }}</td>
                                {% endif %}
                                <td>{{ "%.2f"|format(eintrag["gesamtbetrag"])|replace(".", ",") }} €</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="button-leaderboard">
                {% if current_lb == "schuldner" %}
                    <a href="/leaderboard?type=glaeubiger"><button>Rangliste umschalten</button></a>
                {% else %}
                    <a href="/leaderboard?type=schuldner"><button>Rangliste umschalten</button></a>
                {% endif %}
            </div>
        </div>
    </body>
</html>

