<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schuldenregister</title>
        <a href="/logout"><button>Logout</button></a>
        <a href="/index"><button>Zurück</button></a>
    </head>
    <body>
        <main>
            <h1>Rangliste</h1>
            <table>
                <thead>
                    <th>Platz</th>
                    <th>{{ grouped_by }}</th>
                    <th>Gesamtbetrag</th>
                </thead>
                <tbody>
                    {% for eintrag in eintraege %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            {% if current_lb == "schuldner" %}
                                <td>{{ eintrag["schuldner"] }}</td>
                            {% else %}
                                <td>{{ eintrag["glaeubiger"] }}</td>
                            {% endif %}
                            <td>{{ eintrag["gesamtbetrag"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if current_lb == "schuldner" %}
                <a href="/leaderboard?type=glaeubiger"><button>Rangliste umschalten</button></a>
            {% else %}
                <a href="/leaderboard?type=schuldner"><button>Rangliste umschalten</button></a>
            {% endif %}
        </main>
    </body>
</html>