<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Schuldenregister</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            </head>
    <body>
        <nav>
            <span>Schuldenregister</span>
            <div>
                <a href="/"><button>Zurück</button></a>
            </div>
        </nav>
        <h1>Login</h1>
        <div class="form-login">
            <form action="/login" method="POST">
                <input type="text" name="user" placeholder="Name" required value="{{ name or '' }}">
                <input type="password" name="password" placeholder="Passwort" required>
                <button type="submit">Anmelden</button>
            </form>
            {% if fehler %}
                <p style="color: red;">{{ fehler }}</p>
            {% endif %}
        </div>
    </body>
</html>