<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schuldenregister</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <span>Schuldenregister</span>
        <div>
            <a href="/"><button>Zurück</button></a>
        </div>
    </nav>
    <h1>Registieren</h1>
    <div class="form-login">
        <form action="/register" method="POST">
            <input type="text" name="user" placeholder="Name" required value="{{ name or '' }}">
            <input type="password" name="password1" placeholder="Passwort" required>
            <input type="password" name="password2" placeholder="Passwort wiederholen" required>
            <button type="submit">Registrieren</button>
        </form>
        {% if fehler %}
                <p style="color: red;">{{ fehler }}</p>
        {% endif %}
    </div>
</body>
</html>